Printing Hellow World
To print we have to declare print with parantheses function and Insite put the value itself as below

In [2]:
print("Hello, World!")

Hello, World!

- Input Function
To take user interactive input we have to use the input function with parantheses , we can keep it blank or give some hints with Declaring the string value. 
name is just a variable to store the value is given input by user,

In [3]:
name=input("Enter Your Name: ")

- Output
as discussed print on the 1st markdown.
we are also printing the the name which is given by the user from the last codesell. With some string attached.

In [4]:
print("My Name is",name)

My Name is 2

- Updating the variable ahnd type
Python take any value as string if not deaclared eairler, it does not matter if user input number.
To change the variable type by declearing the type ex: integer= int, float= float, String, str

In [5]:
num=input("Enter a Number: ")
num=int(num)

- Calculation
To addtion or substruction or multipy we just have to mention the sign
However, we have to makesure that the type is deaclard before any calculaiton or new value update

In [6]:
newNum= num+10
print(newNum)

12

- Array/List
TO Declear a List use [] and put the values inside and separate the each variable by , coma
Each value in list has a index number
1st index item start with 0 to following 1 2 3
we can call a value from list by calling the index number

In [7]:
list1=[1,2,3,4,5]
list2=["a","b","c","d","e"]

print(list1)
print(list2)    
print("the 1st element of list1:", list1[0]) #print first element of list1
print("the 2nd element of list2:", list2[1]) #print second element of list2

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']
the 1st element of list1: 1
the 2nd element of list2: b

- Update the list value of a index
listname[indexNumber]= newValue

In [8]:
list1[0]=10
list2[1]="z"
print("Updated list1:", list1)
print("Updated list2:", list2)

Updated list1: [10, 2, 3, 4, 5]
Updated list2: ['a', 'z', 'c', 'd', 'e']

count list leangth
len(listVariable)
as the index is stariting from zeros so last index will always be the length len-1 or just [-1] index

In [9]:
print("Length of list1:", len(list1))
print("Length of list2:", len(list2))
print("Last element of list1:", list1[-1])
print("Last element of list2:", list2[-1])

Length of list1: 5
Length of list2: 5
Last element of list1: 5
Last element of list2: e

- apend the list values
list.apend(newValues) - will add the new value to the list

In [10]:
list1.append(6)
list2.append("f")
print("List1 after appending 6:", list1)
print("List2 after appending 'f':", list2)
print("Length of list1 after appending:", len(list1))
print("Length of list2 after appending:", len(list2))

List1 after appending 6: [10, 2, 3, 4, 5, 6]
List2 after appending 'f': ['a', 'z', 'c', 'd', 'e', 'f']
Length of list1 after appending: 6
Length of list2 after appending: 6

- Array/ String Slicing

In [11]:
arr=[1,2,3,4,5,6,7,8,9,10]
print("Array elements:",arr)

Array elements: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- print a specific from arrays
arraysVariable[stratingIndex:endingIndex]

In [12]:
arr1=arr[4:8]  #slicing from index 4 to 7
print("Sliced array elements (index 4 to 7):",arr1)

Sliced array elements (index 4 to 7): [5, 6, 7, 8]

- slicing a start point from anyindex and print until the end
just need to mention where the starting point from the array list and following :

In [13]:
arr[4:]

[5, 6, 7, 8, 9, 10]

- Array/List Step size

In [14]:
arr[::2]# Get every second element

[1, 3, 5, 7, 9]

- String slicing same as number shown before

In [ ]:
name="Omar Faruk"
print("Print name using indexing:", name[0], name[1], name[2])  # Print first three characters using indexing
print('Print last character using negative indexing:', name[-1])  # Print last character using negative indexing
print("Reversed String using slicing:", name[::-1])   # Reverse the string using slicing
print("Substring from index 2 to 6:", name[2:7])  # Extract substring from index 2 to 6
print("Substring from end to index 4:", name[:5])   # Extract substring from end to index 4
print("Substring from index 5 to end:", name[5:])   # Extract substring from index 5 to end 
print("Every second character starting from index 1:", name[1::2])  # Extract every second character starting from index 1   
print("Uppercase:", name.upper())  # Convert to uppercase
print("Lowercase:", name.lower())  # Convert to lowercase
print("Replace 'Omar' with 'Ahmed':", name.replace("Omar", "Ahmed"))  # Replace substring   
print("Split into words:", name.split(" "))  # Split the string into a list of words 
print("Length of the string:", len(name))  # Get the length of the string
print("Count of 'a':", name.count("a"))  # Count occurrences of 'a' in the string
print("Find 'Faruk':", name.find("Faruk"))  # Find the starting index of substring "Faruk"
print("Faruk" in name)  # Check if substring "Faruk" is in the string
print("John" not in name)  # Check if substring "John" is not in the string
print(name.strip())  # Remove leading and trailing whitespace
print(f"My name is {name} and I am learning Python.")  # Formatted string
print("Last element of name:", name[-1])  # Print

Print name using indexing: O m a
Print last character using negative indexing: k
Reversed String using slicing: ku
Substring from index 2 to 6: ar Fa
Substring from start to index 4: Omar
Substring from index 5 to end: Faruk
Every second character starting from index 1: mrFrk
Uppercase: OMAR FARUK
Lowercase: omar faruk
Replace 'Omar' with 'Ahmed': Ahmed Faruk
Split into words: ['Omar', 'Faruk']
Length of the string: 10
Count of 'a': 2
Find 'Faruk': 5
True
True
Omar Faruk
My name is Omar Faruk and I am learning Python.
Last element of name: k

- Foor loops

for variable in itarable: #itarable can be string list or numbers
    function

In [40]:
upodateList=[]
newList=[10,20,30,40,50]
for item in newList:
    print("List item:",item)
    upodateList.append(item+2)
    print("Updated List item:",upodateList)

List item: 10
Updated List item: [12]
List item: 20
Updated List item: [12, 22]
List item: 30
Updated List item: [12, 22, 32]
List item: 40
Updated List item: [12, 22, 32, 42]
List item: 50
Updated List item: [12, 22, 32, 42, 52]

In [44]:
print(upodateList)

[12, 22, 32, 42, 52]

In [31]:
for variable in 'Omar': # Iterate through each character in the string
    print(variable)

O
m
a
r

In [17]:
for i in range(5): # Iterate from 0 to 4
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [18]:
for numbers in [10,20,30,40,50]: # Iterate through a list of numbers
    print("Number:", numbers)

Number: 10
Number: 20
Number: 30
Number: 40
Number: 50

In [19]:
for name in ["Omar", "Faruk", "Ahmed"]: # Iterate through a list of names
    print("Name:", name)

Name: Omar
Name: Faruk
Name: Ahmed

In [20]:
for name in range(10):
    print("Omar Faruk:", name)

Omar Faruk: 0
Omar Faruk: 1
Omar Faruk: 2
Omar Faruk: 3
Omar Faruk: 4
Omar Faruk: 5
Omar Faruk: 6
Omar Faruk: 7
Omar Faruk: 8
Omar Faruk: 9

In [21]:
nums=list(range(1,11)) # Create a list of numbers from 1 to 10
print("Numbers from 1 to 10:", nums)

Numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
nums2=[]
for num in nums:
    double=num*2
    nums2.append(double)
print("Doubled Numbers:", nums2)

Doubled Numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
nums2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

- List Cohemprishon
nums2=[expression for variable in iterable if condition]

In [24]:
nums2=[num*2 for num in nums ]
num

10

In [25]:
salary=[2000,3000,4000,5000,6000]
new_saary= [inc*2 for inc in salary]
print("New Salary:", new_saary)

New Salary: [4000, 6000, 8000, 10000, 12000]

In [45]:
CGPA=[3.5,3.8,4.0,2.9,3.2]
new_cgpa=[cgpa*1.5 for cgpa in CGPA]
print("Updated CGPA:", new_cgpa)

Updated CGPA: [5.25, 5.699999999999999, 6.0, 4.35, 4.800000000000001]